doctype html
html
  head
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    title 404 Stranica nije pronađena
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include menu
    h1 404 Stranica nije pronađena
    p Oprostite, ali ne možemo pronaći traženu stranicu